*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li{
    list-style-type: none;
    marker: none;
    font-family: "Open Sans", serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13vh;
}

.logo h1{
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.logo img{
    width: 8vh;
    border-radius: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15vh;
}

li{
    margin-left: 10vh;
    font-size: 20px;
    font-weight: bold;
}

li a{
    color: white;
    transition: 0.1s ease-in-out;
}

li a:hover{
    color: #5e5e5e;
    transition: 0.1s ease-in-out;
}

.banner{
    margin: 0;

}

.banner-text{
    position: absolute;
    z-index: 99999;
    color: white;
    text-align: center;
    left: 375px;
    top: 450px;
}

.banner-text h1{
    font-family: "Rubik", sans-serif;
    font-size: 10vh;
}

.banner-text p{
    font-size: 3vh;
    font-weight: lighter;
    font-family: "Open Sans", serif;
}

.banner img{
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}

.games{
    width: 100%;
    height: 100%;
}